/* Login custom css start */

 .form-group .validate-has-error .error {
	position: absolute;
	right: 10px;
	top: 50%;
	margin-top: -10px;
	font-size: 10px;
	color: red;
}

.form-group .validate-has-error .form-control{
	
    border-color: #ec5956;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(236, 89, 86, 0.5);
    outline: 0 none;
}
.form-group .validate-has-error .form-control:focus {
	
    border-color: #ec5956;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(236, 89, 86, 0.5);
    outline: 0 none;
}
.form-login-error,.form-signup-error
{
	 color: red;
     display: none;
     height: auto;
     text-align: center;
}
/* Login custom css end */

/* Sinup custom css start */
#form_signup .form-group .validate-has-error .error {
    color: red;
    font-size: 10px;
    margin-top: -10px;
    position: absolute;
    right: 24px;
    top: 20px;
}
/* Sinup custom css End */
